@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NotoSansKR-Regular.eot),
    url(/fonts/NotoSansKR-Regular.woff2) format('woff2'),
    url(/fonts/NotoSansKR-Regular.woff) format('woff'),
    url(/fonts/NotoSansKR-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/NotoSansKR-Medium.eot),
    url(/fonts/NotoSansKR-Medium.woff2) format('woff2'),
    url(/fonts/NotoSansKR-Medium.woff) format('woff'),
    url(/fonts/NotoSansKR-Medium.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/NotoSansKR-SemiBold.eot),
    url(/fonts/NotoSansKR-SemiBold.woff2) format('woff2'),
    url(/fonts/NotoSansKR-SemiBold.woff) format('woff'),
    url(/fonts/NotoSansKR-SemiBold.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NotoSansKR-Bold.eot),
    url(/fonts/NotoSansKR-Bold.woff2) format('woff2'),
    url(/fonts/NotoSansKR-Bold.woff) format('woff'),
    url(/fonts/NotoSansKR-Bold.ttf) format('truetype');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://andy-bell.co.uk/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  letter-spacing: -0.48px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #848484;
}

@layer base {
  body {
    @apply text-grey-darkest;
  }

  svg {
    @apply text-grey-darkest;
  }
}
